.footer{
    background: linear-gradient(107.73deg, #2B1E2F 0%, #2A1630 46.88%, #451121 100%);
    text-decoration: none;
}
.navbar-brand{
    font-weight: 700;
    font-size: 30px !important;
    margin-left:5px;
}
.container-fluid{
    overflow-y:auto;
    height:500px;
}
.card-header{
    font-weight: 700;
    font-size: 30px;
}
nav li{
    font-weight: 400;
    font-size: 16px;
    margin-left:20px;
}
.loginSection {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #333333;
    border-radius: 10px;
}
.loginBtn{
    width:100%;
    background: linear-gradient(107.73deg, #D81F5A 0%, #8438BF 100%);
    border-radius: 6px;
    color:#FFFFFF !important;
}
.forgotPasswordLink{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    padding: 5px 0;
}
#button-addon1 {
    color: #ffc371;
}

i {
    color: #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.text-muted{
    text-decoration: none;
    color: #E0E0E0 !important;
    font-size: 14px;
    line-height: 30px;
}
.text-uppercase{
    color:#FFFFFF;
}
.fa {
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.flexDiv{
    display: flex;
}
.flexItem{
    margin-top:15px;
    margin-left:10px;
}
.flexSection1{
    width:50%;
    text-align: left;
}
.flexSection2{
    width:50%;
    padding-left:30%;
}
.footerSection{
    padding-top:20px;
}
